.cost {
    max-width: 1160px;
    margin: auto;
    font-family: "Inter";
    position: relative;
    & .title-l {
        margin-bottom: 20px;
    }
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.9);
    }

    &__pic {
        position: absolute;
        top: 15px;
        right: 0;
    }
}

.cost-list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    &__item {
        display: flex;
        background: #2f2f2f;
        border-radius: 20px;
        width: 560px;
        height: 114px;
    }

    &__item-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #3c3c3c;
        border-radius: 20px;
        width: 80px;
        height: 80px;
        margin: 17px;
    }

    &__item-inner {
        margin-left: 24px;
    }

    &__item-title {
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        color: #ffffff;
        margin-top: 21px;
    }

    &__item-text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.9);
        margin-top: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .cost {
        &-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            &__item {
                width: auto;
            }
        }
    }
}

@media screen and (max-width: 930px) {
    .cost {
        max-width: auto;
        margin: auto;
        & .title-l {
            margin-bottom: 15px;
        }
        &__text {
            font-size: 10px;
            line-height: 15px;
            padding-right: 0;
        }
        &__pic {
            top: 0;
            right: 0;
            width: 78px;
            &-img {
                width: 100%;
            }
        }
        .cost-list {
            margin-top: 16px;
            &__item {
                border-radius: 10px;
                height: 64px;
            }

            &__item-pic {
                display: block;
                border-radius: 10px;
                width: 44px;
                height: 44px;
                margin: 10px 12px 10px 10px;
            }
            &__item-pic-img {
                max-width: 100%;
                height: auto;
                padding: 10px;
            }

            &__item-inner {
                margin-left: 12px;
            }

            &__item-title {
                font-size: 16px;
                line-height: 21px;
                margin-top: 11px;
            }

            &__item-text {
                font-size: 12px;
                line-height: 17px;
                margin-top: 4px;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .cost {
        &-list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
