.fast {
    max-width: 1160px;
    margin: auto;
    display: flex;
    margin-top: 85px;
    &__list {
        list-style-type: none;
        margin-right: 76px;
        max-width: 403px;
        width: 100%;
    }

    &__list-item {
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__list-item-svg {
        background: #2f2f2f;
        border-radius: 20px;
        margin-bottom: 20px;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__list-item-title {
        font-weight: 600;
        font-size: 28px;
        line-height: 130%;
        color: #ffffff;
        margin-bottom: 12px;
    }

    &__list-item-p {
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: rgba(255, 255, 255, 0.9);
    }

    &__link {
        width: 100%;
        max-width: 670px;
    }

    &__link-img {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .fast {
        flex-direction: column;
        margin-top: 40px;
        &__link {
            margin-top: 30px;
        }
        &__list {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 700px) {
    .fast {
        &__list {
            &-item {
                margin-bottom: 22px;
                &-title {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 130%;
                    margin-bottom: 8px;
                }
                &-p {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 140%;
                }
                &-svg {
                    width: 40px;
                    height: 40px;
                    border-radius: 10px;
                    margin-bottom: 14px;
                }
                &:first-child &-svg svg {
                    width: 26px;
                    height: 26px;
                }
                &:last-child &-svg svg {
                    width: 22.28px;
                    height: 22.95px;
                }
            }
        }
    }
}
