.for {
    max-width: 1160px;
    margin: auto;
    font-family: "Inter";

    &__card {
        display: block;
        max-width: 558px;
        height: 654px;
        border: 1px solid #00e287;
        box-sizing: border-box;
        border-radius: 20px;
        position: relative;
        padding: 30px;

        &_bliu {
            border: 1px solid #3264ef;
        }
    }

    &__card-body {
        position: absolute;
        left: 30px;
        top: -40px;
        width: 80px;
        height: 80px;
        &-img {
            width: 100%;
            height: 100%;
        }
    }

    &__card-text {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 40px;
    }

    &__card-title {
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        color: #ffffff;
        margin-top: 10px;
        &_mt {
            margin-top: 30px;
        }
    }

    &__card-list {
        padding-left: 20px;
    }
}

.for-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.card-list {
    &__item {
        margin-top: 30px;
        position: relative;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
    }
}
.for-card {
    &__list-star {
        list-style: none;
    }

    &__list-star-item {
        padding-left: 30px;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.9);
        margin-top: 20px;
        position: relative;
        &::before {
            content: "*";
            display: block;
            position: absolute;
            left: 0;
            top: 7px;
            color: #5ac380;
            font-size: 44px;
        }
        &_bg {
            &::before {
                color: #3264ef;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .for-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .for__card {
        height: auto;
    }
}

@media screen and (max-width: 820px) {
    .for-inner {
        margin-top: 40px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .for__card {
        max-width: 100%;
        padding: 36px 10px 20px 10px;
        &-text {
            margin-top: 0;
            font-size: 10px;
            line-height: 150%;
        }
        &-title {
            font-size: 16px;
            line-height: 130%;
            margin-top: 8px;
        }
        &-list {
            margin-bottom: 15px;
        }
    }
    .for__card-body {
        width: 40px;
        height: 40px;
        left: 20px;
        top: -20px;
    }
    .card-list {
        &__item {
            font-size: 12px;
            line-height: 140%;
            margin-top: 15px;
        }
    }
    .for-card__list-star-item {
        font-size: 12px;
        line-height: 140%;
        margin-top: 8px;
        padding-left: 15px;
        &::before {
            font-size: 24px;
            top: 4px;
        }
    }
}
