.intro {
    max-width: 1160px;
    margin: 80px auto auto auto;
    &__body {
        display: flex;
        flex-direction: row;
        margin-top: 117px;
        justify-content: flex-end;
        &-img {
            max-width: 605px;
            max-height: 440px;
            &_mobile {
                display: none;
            }
        }
    }

    &__body-title {
        font-weight: bold;
        font-size: 40px;
        line-height: 52px;
        color: #ffffff;
    }

    &__body-wrap {
        display: flex;
        flex-direction: column;
        width: 552px;
    }

    &__body-inner {
        display: flex;
        margin-top: 8px;
    }
    &__body-left {
        display: block;
    }
    &__body-right {
        display: block;
        width: 148px;
        height: 148px;
        background: #161616;
        border: 1px solid #3264ef;
        border-radius: 100%;
        box-sizing: border-box;
        margin-left: 96px;
        margin-top: 8px;
        margin-bottom: 0;
    }

    &__body-text {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #ffffff;
        margin-top: 12px;
    }

    &__body-link {
        background-color: #3264ef;
        border-radius: 5px;
        margin-top: 46px;
        max-width: 232px;
        padding: 14px 30px 15px 25px;
        font-weight: 500;
        font-size: 14px;
        display: block;
        line-height: 21px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
    }

    &__body-sale {
        width: 148px;
        height: 148px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__body-sale-m {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__body-sale-l {
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }
}

@media screen and (max-width: 1350px) {
    .intro {
        &__body {
            flex-direction: column-reverse;
            &-inner {
                position: relative;
            }
            &-wrap {
                width: 100%;
            }
            &-img {
                display: none;
                &_mobile {
                    display: block;
                    max-width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .intro {
        margin-top: 20px;

        &__body {
            &-title {
                font-size: 48px;
            }
        }
        &__list {
            &-item {
                &:hover {
                    transform: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .intro {
        margin-top: 20px;

        &__body {
            &-title {
                font-size: 48px;
            }
        }
        &__list {
            &-item {
                &:hover {
                    transform: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .intro {
        position: relative;
        &__body {
            margin: auto;
        }
    }
}

@media screen and (max-width: 700px) {
    .intro {
        &__body {
            &-link {
                margin-top: 25px;
                font-weight: 600;
                font-size: 12px;
                line-height: 150%;
                text-align: center;
            }
            &-right {
                position: absolute;
                right: 0;
                margin: 0;
                width: 98px;
                height: 98px;
                top: 20px;
            }
            &-sale {
                width: 98px;
                height: 98px;
                &-m {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 150%;
                    color: #ffffff;
                }
                &-l {
                    font-weight: 500;
                    font-size: 7.8px;
                    line-height: 140%;
                    color: #ffffff;
                }
            }
            &-title {
                font-weight: bold;
                font-size: 22px;
                line-height: 120%;
                max-width: 100%;
                margin-bottom: 13px;
            }
            &-text {
                font-weight: normal;
                font-size: 12px;
                line-height: 140%;
                margin-bottom: 2px;
                max-width: 207px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .intro {
        &__nav {
            padding-left: 0;
            max-width: 100%;
            right: auto;
            left: 0;
        }
        &__list {
            margin-left: 0;
            width: 100%;
            max-width: 100%;
            &-item {
                width: 100%;
                &-link {
                    padding: 10px;
                }
            }
        }
    }
}
