.intro {
    max-width: 1160px;
    margin: 80px auto auto auto;
    display: flex;
    &__body {
    }

    &__body-title {
        font-weight: bold;
        font-size: 54px;
        line-height: 120%;
        color: #ffffff;
        width: 743px;
        margin-bottom: 30px;
        span {
            background: #65ff9d;
            border-radius: 100px;
            color: #000;
            padding-bottom: 5px;
        }
    }

    &__body-wrap {
        display: flex;
    }

    &__body-inner {
    }

    &__body-text {
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
        color: #ffffff;
        margin-bottom: 55px;
        max-width: 348px;
    }

    &__body-link {
        background-color: #3264ef;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 289px;
        padding: 8px 8px 8px 30px;
        font-weight: 600;
        font-size: 15px;
        line-height: 150%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
    }

    &__body-sale {
        width: 118px;
        height: 128px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 5px;
        &-wrap {
            width: 290.76px;
            height: 229.8px;
            margin-left: 108px;
            position: relative;
            &::before {
                content: url("../img/back-intro.svg");
                display: block;
                position: absolute;
                top: 50px;
            }
            svg {
                margin-left: auto;
                display: block;
                margin-right: 18px;
            }
        }
    }

    &__body-sale-m {
    }

    &__body-sale-l {
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
    }

    &__nav {
        margin-left: 90px;
        width: 316px;
    }

    &__list {
        list-style-type: none;
    }

    &__list-item {
        background-color: #2f2f2f;
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 14px;
        margin-bottom: 16px;
        opacity: 0.3;
        transition: opacity 0.2s ease-in, transform 0.2s ease-in;
        &:last-child {
            margin-bottom: 0;
        }
        &-link {
            padding: 20px 12px 12px 15px;
            display: flex;
            align-items: center;
            text-decoration: none;
            &-svg {
                display: flex;
                min-width: 30px;
                height: 30px;
                align-items: center;
                justify-content: center;
                margin-right: 12px;
                background: #4b4b4b;
                border-radius: 100px;
            }
        }
        &_blue &-link-svg {
            background-color: #496aff;
        }

        &_green &-link-svg {
            background-color: #00be71;
        }

        &_orange &-link-svg {
            background-color: #ff613e;
        }

        &_pink &-link-svg {
            background-color: #f32566;
        }

        &_yellow &-link-svg {
            background-color: #ff8521;
        }

        &_purple &-link-svg {
            background-color: #6b53fd;
        }
        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }
    }

    &__list-item-title {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #ffffff;

        &_big {
            margin-bottom: 2px;
        }

        &_small {
            text-transform: none;
            font-weight: normal;
            font-size: 12px;
            line-height: 130%;
            color: rgba(255, 255, 255, 0.5);
        }
    }
}
