.start {
    max-width: 1160px;
    margin: auto;
    & .title-m {
        margin-bottom: 0;
    }
    &__pic {
    }

    &__pic-img {
    }
    &-title-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .title-l {
            max-width: 398px;
            margin-bottom: 0;
        }
        
    }
}
.start-card {
    &__list {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-gap: 40px;
        list-style-type: none;
        margin-top: 40px;
    }

    &__list-item {
        padding: 14px 14px 27px 14px;
        background: #2f2f2f;
        border-radius: 20px;
        &_blue {
            background: #3264EF;
            padding: 35px 54px 41px 44px;
        }
        
        
        
    }

    &__list-item-pic {
    }

    &__list-item-pic-img {
    }

    &__list-item-namber {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        color: #ffffff;
        margin-top: 27px;
    }

    &__list-item-text {
        font-family: "Inter";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #ffffff;
        margin-top: 12px;
       &_big {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
       }
        
    }
}

@media screen and (max-width: 1200px) {
    .start {
        &-card {
            &__list {
                grid-template-columns: repeat(2, 360px);
                justify-content: center;
            }
        }
        
    }
}

@media screen and (max-width: 780px) {
    .start {
        &__pic {
            min-width: 118px;
            &-img {
                width: 100%;
            }
        }
        &-card {
            &__list {
                grid-template-columns: repeat(1, minmax(300px, 360px));
                grid-gap: 10px;
                &-item {
                    &-pic {
                        &-img {
                            width: 100%;
                        }
                     
                    }
                    &-namber {
                        font-size: 16px;
                        line-height: 21px;
                        margin-top: 10px;
                    }
                    &-text {
                        font-size: 12px;
                        line-height: 17px;  
                    }

                }
            }
        }
        
    }
}