*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter";
}

body {
  background-color: #232323;
}

.title-m {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 100px;
}

.title-l {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 50px;
}

.wrapper {
  position: relative;
}

.wrapper::before {
  content: url("../img/wrapper-svg.svg");
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  z-index: -1;
}

.wrapper::after {
  content: url("../img/wrapper-aft.svg");
  position: absolute;
  left: 0;
  top: 260px;
  display: none;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .wrapper::before, .wrapper::after {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .title-m {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  .title-l {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 20px;
  }
}

.header {
  max-width: 1160px;
  margin: auto;
  padding-top: 27px;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__list-item-link-svg {
  display: none;
}

.header__list-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
}

.header__list-item-title_big {
  margin-bottom: 2px;
}

.header__list-item-title_small {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header {
    padding-top: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 22px;
    height: 17px;
    border: none;
    background: none;
    cursor: pointer;
  }
  .header__menu-line {
    background: #3f3f3f;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 3px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__menu-active .header__menu-line_first {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
        -ms-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
  }
  .header__menu-active .header__menu-line_middle {
    opacity: 0;
  }
  .header__menu-active .header__menu-line_end {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
        -ms-transform: rotate(-45deg) translate(5px, -5px);
            transform: rotate(-45deg) translate(5px, -5px);
  }
}

.intro {
  max-width: 1160px;
  margin: 80px auto auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__menu {
  display: none;
}

.intro__body-title {
  font-weight: bold;
  font-size: 54px;
  line-height: 120%;
  color: #ffffff;
  max-width: 743px;
  margin-bottom: 30px;
}

.intro__body-title span {
  background: #65ff9d;
  border-radius: 100px;
  color: #000;
  padding-bottom: 5px;
}

.intro__body-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__body-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 55px;
  max-width: 348px;
}

.intro__body-link {
  background-color: #3264ef;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 289px;
  padding: 8px 8px 8px 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.intro__body-sale {
  width: 118px;
  height: 128px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 5px;
}

.intro__body-sale-wrap {
  min-width: 290.76px;
  height: 229.8px;
  margin-left: auto;
  position: relative;
}

.intro__body-sale-wrap_sm {
  display: none;
}

.intro__body-sale-wrap::before {
  content: url("../img/back-intro.svg");
  display: block;
  position: absolute;
  top: 50px;
}

.intro__body-sale-wrap svg {
  margin-left: auto;
  display: block;
  margin-right: 18px;
}

.intro__body-sale-l {
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
}

@media screen and (max-width: 1100px) {
  .intro {
    margin-top: 20px;
  }
  .intro__nav {
    margin-left: 30px;
  }
  .intro__body-title {
    font-size: 48px;
  }
  .intro__list-item:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 1000px) {
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  .intro {
    position: relative;
  }
  .intro__body {
    margin: auto;
  }
  .intro__nav {
    margin-left: 0;
    margin-top: 0;
    display: none;
    width: 100%;
    height: 100vh;
  }
  .intro__nav::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(35, 35, 35, 0.5);
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  .intro__nav-active {
    display: block;
    position: absolute;
    right: 0;
    z-index: 2;
  }
  .intro__list {
    max-width: 320px;
    margin-left: auto;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .intro__list-item {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .intro__nav::before {
    background-color: #232323;
  }
  .intro__body-link {
    margin-top: 25px;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    padding: 3px 3px 3px 20px;
  }
  .intro__body-sale {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    width: 118px;
    height: 69px;
    padding-top: 80px;
    margin: 0;
    margin-left: 40px;
  }
  .intro__body-sale-l {
    font-size: 10px;
    line-height: 140%;
  }
  .intro__body-sale-wrap {
    display: none;
  }
  .intro__body-sale-wrap_sm {
    display: block;
    min-width: auto;
    width: 219.1px;
    height: 141.24px;
    margin-left: 0;
  }
  .intro__body-sale-wrap svg {
    width: 42px;
    height: 42px;
    position: absolute;
    margin: 0;
    right: 10px;
    top: 10px;
  }
  .intro__body-sale-wrap::before {
    content: url("../img/wrapper-back-sm.svg");
    top: 32px;
    left: 0px;
  }
  .intro__body-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    max-width: 100%;
    margin-bottom: 13px;
  }
  .intro__body-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 2px;
    max-width: 207px;
  }
}

@media screen and (max-width: 500px) {
  .intro__nav {
    padding-left: 0;
    max-width: 100%;
    right: auto;
    left: 0;
  }
  .intro__list {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
  .intro__list-item {
    width: 100%;
  }
  .intro__list-item-link {
    padding: 10px;
  }
}

.fast {
  max-width: 1160px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 85px;
}

.fast__list {
  list-style-type: none;
  margin-right: 76px;
  max-width: 403px;
  width: 100%;
}

.fast__list-item {
  margin-bottom: 50px;
}

.fast__list-item:last-child {
  margin-bottom: 0;
}

.fast__list-item-svg {
  background: #2f2f2f;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fast__list-item-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 12px;
}

.fast__list-item-p {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
}

.fast__link {
  width: 100%;
  max-width: 670px;
}

.fast__link-img {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .fast {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
  .fast__link {
    margin-top: 30px;
  }
  .fast__list {
    max-width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .fast__list-item {
    margin-bottom: 22px;
  }
  .fast__list-item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 8px;
  }
  .fast__list-item-p {
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
  }
  .fast__list-item-svg {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 14px;
  }
  .fast__list-item:first-child .fast__list-item-svg svg {
    width: 26px;
    height: 26px;
  }
  .fast__list-item:last-child .fast__list-item-svg svg {
    width: 22.28px;
    height: 22.95px;
  }
}

.about {
  margin: auto;
  max-width: 1160px;
}

.about-inner {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-card {
  background: #2f2f2f;
  border-radius: 20px;
  max-width: 565px;
  padding: 40px;
}

.about-card_blue {
  background: #3264ef;
  padding: 25px 30px 45px 30px;
}

.about-card_long {
  max-width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 30px;
}

.about-card__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 50px;
}

.about-card__subtitle-mark {
  background: #30b761;
  border-radius: 20px;
}

.about-card__subtitle-mark_blue {
  background: #3264ef;
}

.about-card__list {
  list-style-type: none;
  max-width: 682px;
}

.about-card__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 30px;
  padding-left: 48px;
  position: relative;
}

.about-card__list-item::before {
  content: "*";
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  color: #5ac380;
  font-size: 44px;
}

.about-card__list-item_blue::before {
  color: #3264ef;
}

.about-card__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  margin: auto;
  margin-top: 30px;
  max-width: 412px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .about {
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-card {
    max-width: 48%;
  }
  .about-card_long {
    max-width: 100%;
  }
  .about-card__pic {
    width: 100%;
  }
  .about-card__pic-img {
    width: 100%;
  }
  .about-card__list-item {
    margin-left: 30px;
  }
  .about-card__list-item_blue {
    margin-left: 0;
  }
}

@media screen and (max-width: 820px) {
  .about-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 14px;
  }
  .about-card {
    max-width: 100%;
    margin-bottom: 10px;
    padding: 20px;
  }
  .about-card__text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    max-width: 100%;
  }
  .about-card_long {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-card_blue {
    padding: 10px;
  }
  .about-card__list-item {
    margin-left: 0;
    font-size: 12px;
    line-height: 18px;
    padding-left: 25px;
    margin-bottom: 14px;
  }
  .about-card__list-item:last-child {
    margin-bottom: 0;
  }
  .about-card__list-item::before {
    font-size: 29px;
  }
  .about-card__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 14px;
  }
  .about-card__subtitle {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 17px;
  }
}

.plus {
  max-width: 1160px;
  margin: auto;
}

.plus__list {
  max-width: 500px;
  padding-left: 25px;
  margin-top: 40px;
}

.plus__list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 20px;
}

.plus__input {
  display: none;
}

.plus__label {
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 13px 30px 14px 30px;
  cursor: pointer;
  background-color: #2f2f2f;
  border-radius: 100px;
  margin-right: 10px;
}

.plus__label-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.plus__body {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

#list0:checked ~ .plus__label-wrap #list0label,
#list1:checked ~ .plus__label-wrap #list1label,
#list2:checked ~ .plus__label-wrap #list2label,
#list3:checked ~ .plus__label-wrap #list3label,
#list4:checked ~ .plus__label-wrap #list4label {
  background-color: #3264ef;
}

#list0:checked ~ #plus-body0,
#list1:checked ~ #plus-body1,
#list2:checked ~ #plus-body2,
#list3:checked ~ #plus-body3,
#list4:checked ~ #plus-body4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1010px) {
  .plus__list {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 13px;
  }
  .plus__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
}

@media screen and (max-width: 800px) {
  .plus__label {
    margin-right: 6px;
    margin-bottom: 6px;
    font-size: 10px;
    line-height: 150%;
    padding: 7px 13px 8px 13px;
  }
  .plus__label-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
  .plus__list {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 13px;
  }
  .plus__list-item {
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 12px;
  }
  .plus__body {
    margin-top: 14px;
  }
  .plus__pic {
    width: 100%;
  }
  .plus__pic-img {
    width: 100%;
  }
}

.advantages {
  max-width: 1160px;
  margin: auto;
}

.advantages-list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
      grid-template-areas: "a a" "b c" "b d";
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.advantages-list__item {
  background: #2f2f2f;
  border-radius: 20px;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.advantages-list__item_a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
}

.advantages-list__item_b {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: b;
}

.advantages-list__item_c {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
}

.advantages-list__item_d {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: d;
}

.advantages-list__item_width {
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-list__item_height {
  min-height: 723px;
}

.advantages-list__item_blue {
  background: #3264ef;
}

.advantages-list__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 565px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-list__item-num {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 60px;
  height: 60px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 39px;
  color: #ffffff;
}

.advantages-list__item-title {
  padding-left: 110px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 53px;
}

.advantages-list__item-title_mb {
  margin-bottom: 25px;
}

.advantages-list__item-text {
  padding-top: 14px;
  padding-left: 110px;
  border-top: 1px solid #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  padding-right: 14px;
}

.advantages-list__item-pic {
  min-width: 479px;
  background: #232323;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
}

.advantages-list__item-iphone {
  position: absolute;
  left: 0;
  bottom: -4px;
}

.advantages-list__item-iphone-img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .advantages-list {
    grid-gap: 10px;
  }
  .advantages-list__item {
    padding: 10px;
  }
  .advantages-list__item-num {
    left: 10px;
    top: 10px;
  }
  .advantages-list__item-pic {
    margin-left: 30px;
  }
  .advantages-list__item-title {
    padding-left: 80px;
  }
  .advantages-list__item-text {
    padding-left: 80px;
  }
}

@media screen and (max-width: 950px) {
  .advantages-list__item-inner {
    max-width: 40%;
  }
  .advantages-list__item-num {
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 22px;
  }
  .advantages-list__item-title {
    font-size: 16px;
    line-height: 21px;
    padding-left: 40px;
    margin-bottom: 10px;
    min-height: 30px;
  }
  .advantages-list__item-text {
    font-size: 12px;
    line-height: 17px;
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 0;
  }
  .advantages-list__item-pic {
    height: 300px;
    min-width: 50%;
  }
  .advantages-list__item-pic-img {
    height: 100%;
  }
  .advantages-list__item_height {
    min-height: 384px;
  }
  .advantages-list__item-iphone {
    max-width: 270px;
  }
}

@media screen and (max-width: 600px) {
  .advantages-list {
        grid-template-areas: "a" "b" "c" "d";
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .advantages-list__item-inner {
    max-width: 100%;
  }
  .advantages-list__item_a {
    display: block;
  }
  .advantages-list__item-num {
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 22px;
  }
  .advantages-list__item-title {
    font-size: 16px;
    line-height: 21px;
    padding-left: 40px;
    margin-bottom: 10px;
  }
  .advantages-list__item-text {
    font-size: 12px;
    line-height: 17px;
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 0;
  }
  .advantages-list__item-pic {
    min-width: auto;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 20px 0;
  }
  .advantages-list__item-pic-img {
    max-width: 156px;
  }
  .advantages-list__item_height {
    min-height: 384px;
  }
  .advantages-list__item-iphone {
    max-width: 270px;
  }
}

.start {
  max-width: 1160px;
  margin: auto;
}

.start .title-m {
  margin-bottom: 0;
}

.start-title-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-title-inner .title-l {
  max-width: 398px;
  margin-bottom: 0;
}

.start-card__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  list-style-type: none;
  margin-top: 40px;
}

.start-card__list-item {
  padding: 14px 14px 27px 14px;
  background: #2f2f2f;
  border-radius: 20px;
}

.start-card__list-item_blue {
  background: #3264ef;
  padding: 35px 54px 41px 44px;
}

.start-card__list-item-namber {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 27px;
}

.start-card__list-item-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 12px;
}

.start-card__list-item-text_big {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
}

@media screen and (max-width: 1200px) {
  .start-card__list {
    -ms-grid-columns: (360px)[2];
        grid-template-columns: repeat(2, 360px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 780px) {
  .start__pic {
    min-width: 118px;
  }
  .start__pic-img {
    width: 100%;
  }
  .start-card__list {
    -ms-grid-columns: (minmax(300px, 360px))[1];
        grid-template-columns: repeat(1, minmax(300px, 360px));
    grid-gap: 10px;
  }
  .start-card__list-item {
    padding: 10px;
  }
  .start-card__list-item_blue {
    padding: 33px 37px 37px 37px;
  }
  .start-card__list-item_blue .start-card__list-item-pic {
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 14px;
  }
  .start-card__list-item-pic-img {
    width: 100%;
  }
  .start-card__list-item-namber {
    font-size: 16px;
    line-height: 21px;
    margin-top: 10px;
  }
  .start-card__list-item-text {
    font-size: 12px;
    line-height: 17px;
  }
  .start-card__list-item-text_big {
    text-align: center;
  }
}

.for {
  max-width: 1160px;
  margin: auto;
  font-family: "Inter";
}

.for__card {
  display: block;
  max-width: 558px;
  height: 654px;
  border: 1px solid #00e287;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  padding: 30px;
}

.for__card_bliu {
  border: 1px solid #3264ef;
}

.for__card-body {
  position: absolute;
  left: 30px;
  top: -40px;
  width: 80px;
  height: 80px;
}

.for__card-body-img {
  width: 100%;
  height: 100%;
}

.for__card-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 40px;
}

.for__card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 10px;
}

.for__card-title_mt {
  margin-top: 30px;
}

.for__card-list {
  padding-left: 20px;
}

.for-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}

.card-list__item {
  margin-top: 30px;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.for-card__list-star {
  list-style: none;
}

.for-card__list-star-item {
  padding-left: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
  position: relative;
}

.for-card__list-star-item::before {
  content: "*";
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  color: #5ac380;
  font-size: 44px;
}

.for-card__list-star-item_bg::before {
  color: #3264ef;
}

@media screen and (max-width: 1200px) {
  .for-inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .for__card {
    height: auto;
  }
}

@media screen and (max-width: 820px) {
  .for-inner {
    margin-top: 40px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .for__card {
    max-width: 100%;
    padding: 36px 10px 20px 10px;
  }
  .for__card-text {
    margin-top: 0;
    font-size: 10px;
    line-height: 150%;
  }
  .for__card-title {
    font-size: 16px;
    line-height: 130%;
    margin-top: 8px;
  }
  .for__card-list {
    margin-bottom: 15px;
  }
  .for__card-body {
    width: 40px;
    height: 40px;
    left: 20px;
    top: -20px;
  }
  .card-list__item {
    font-size: 12px;
    line-height: 140%;
    margin-top: 15px;
  }
  .for-card__list-star-item {
    font-size: 12px;
    line-height: 140%;
    margin-top: 8px;
    padding-left: 15px;
  }
  .for-card__list-star-item::before {
    font-size: 24px;
    top: 4px;
  }
}

.cost {
  max-width: 1160px;
  margin: auto;
  font-family: "Inter";
  position: relative;
}

.cost .title-l {
  margin-bottom: 20px;
}

.cost__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.9);
}

.cost__pic {
  position: absolute;
  top: 15px;
  right: 0;
}

.cost-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.cost-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #2f2f2f;
  border-radius: 20px;
  width: 560px;
  height: 114px;
}

.cost-list__item-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3c3c3c;
  border-radius: 20px;
  width: 80px;
  height: 80px;
  margin: 17px;
}

.cost-list__item-inner {
  margin-left: 24px;
}

.cost-list__item-title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 21px;
}

.cost-list__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {
  .cost-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .cost-list__item {
    width: auto;
  }
}

@media screen and (max-width: 930px) {
  .cost {
    max-width: auto;
    margin: auto;
  }
  .cost .title-l {
    margin-bottom: 15px;
  }
  .cost__text {
    font-size: 10px;
    line-height: 15px;
    padding-right: 0;
  }
  .cost__pic {
    top: 0;
    right: 0;
    width: 78px;
  }
  .cost__pic-img {
    width: 100%;
  }
  .cost .cost-list {
    margin-top: 16px;
  }
  .cost .cost-list__item {
    border-radius: 10px;
    height: 64px;
  }
  .cost .cost-list__item-pic {
    display: block;
    border-radius: 10px;
    width: 44px;
    height: 44px;
    margin: 10px 12px 10px 10px;
  }
  .cost .cost-list__item-pic-img {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }
  .cost .cost-list__item-inner {
    margin-left: 12px;
  }
  .cost .cost-list__item-title {
    font-size: 16px;
    line-height: 21px;
    margin-top: 11px;
  }
  .cost .cost-list__item-text {
    font-size: 12px;
    line-height: 17px;
    margin-top: 4px;
  }
}

@media screen and (max-width: 540px) {
  .cost-list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.form {
  max-width: 1160px;
  margin: auto;
  background: #3264ef;
  border-radius: 20px;
  margin-top: 85px;
  padding: 30px 30px 24px 30px;
}

.form__top {
  padding-bottom: 26px;
  margin-bottom: 26px;
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__top-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
}

.form__top-title-pic {
  margin-right: 20px;
}

.form__top-title-text {
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  color: #fff;
}

.form__top-p {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__body-inner {
  max-width: 630px;
}

.form__body-actions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.form__body-input {
  padding: 15px 14px 16px 14px;
  background: #5683ff;
  border-radius: 5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__body-input::-webkit-input-placeholder {
  opacity: 1;
  color: #fff;
}

.form__body-input:-ms-input-placeholder {
  opacity: 1;
  color: #fff;
}

.form__body-input::-ms-input-placeholder {
  opacity: 1;
  color: #fff;
}

.form__body-input::placeholder {
  opacity: 1;
  color: #fff;
}

.form__body-btn {
  background: #232323;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.form__body-copy {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.form__body-copy a {
  color: #fff;
  text-decoration: none;
}

.form__body-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.form__body-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  list-style-type: none;
}

.form__body-social-p {
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.form__body-social-list-item {
  margin-left: 16px;
}

@media screen and (max-width: 1050px) {
  .form__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__top-p {
    margin-top: 6px;
    padding-left: 92px;
  }
  .form__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__body-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 18px;
  }
  .form__body-social-p {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 640px) {
  .form {
    padding: 10px;
  }
  .form__body-input, .form__body-btn {
    font-size: 14px;
    line-height: 17px;
  }
  .form__top-p {
    padding-left: 52px;
    font-size: 12px;
    line-height: 140%;
    max-width: 252px;
  }
  .form__top-title-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    max-width: 232px;
  }
  .form__top-title-pic {
    width: 40px;
    margin-right: 14px;
  }
  .form__top-title-pic-img {
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .form__body-copy {
    font-size: 12px;
    line-height: 150%;
  }
  .form__body-social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__body-social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form__body-social-list-item {
    margin-left: 12px;
  }
  .form__body-social-list-item:first-child {
    margin-left: 0;
  }
  .form__body-social-p {
    text-align: center;
    font-size: 12px;
    line-height: 150%;
  }
  .form__body-btn {
    padding-top: 15px;
    padding-bottom: 16px;
  }
  .form__body-actions {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.footer {
  background: #2f2f2f;
  margin-top: 80px;
}

.footer__body {
  max-width: 1160px;
  margin: auto;
}

.footer__body-inner {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__p {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.2);
}

.footer__body-list {
  max-width: 289px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.footer__body-list-item {
  width: 123px;
}

.footer__body-list-item-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 1160px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    position: relative;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__p-wrap {
    position: absolute;
    bottom: 20px;
  }
  .footer__body-list {
    margin-bottom: 55px;
  }
  .footer__body-list-item {
    margin-bottom: 14px;
  }
  .footer__body-list-item-link {
    font-size: 12px;
    line-height: 15px;
  }
  .footer__body-inner {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */