*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter";
}

body {
  background-color: #232323;
}

.title-m {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 100px;
}

.title-l {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 50px;
}

.wrapper {
  position: relative;
}

.wrapper::before {
  content: url("../img/wrapper-svg.svg");
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  z-index: -1;
}

.wrapper::after {
  content: url("../img/wrapper-aft.svg");
  position: absolute;
  left: 0;
  top: 260px;
  display: block;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .wrapper::before, .wrapper::after {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .title-m {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  .title-l {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 20px;
  }
}

.header {
  max-width: 1160px;
  margin: auto;
  padding-top: 27px;
}

.header__menu {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header {
    padding-top: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 22px;
    height: 17px;
    border: none;
    background: none;
    cursor: pointer;
  }
  .header__menu-line {
    background: #3f3f3f;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 3px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__menu-active .header__menu-line_first {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
            transform: rotate(45deg) translate(5px, 5px);
  }
  .header__menu-active .header__menu-line_middle {
    opacity: 0;
  }
  .header__menu-active .header__menu-line_end {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
            transform: rotate(-45deg) translate(5px, -5px);
  }
}

.intro {
  max-width: 1160px;
  margin: 80px auto auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__menu {
  display: none;
}

.intro__body-title {
  font-weight: bold;
  font-size: 54px;
  line-height: 120%;
  color: #ffffff;
  max-width: 743px;
  margin-bottom: 30px;
}

.intro__body-title span {
  background: #65ff9d;
  border-radius: 100px;
  color: #000;
  padding-bottom: 5px;
}

.intro__body-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__body-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 55px;
  max-width: 348px;
}

.intro__body-link {
  background-color: #3264ef;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 289px;
  padding: 8px 8px 8px 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.intro__body-sale {
  width: 118px;
  height: 128px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 5px;
}

.intro__body-sale-wrap {
  min-width: 290.76px;
  height: 229.8px;
  margin-left: auto;
  position: relative;
}

.intro__body-sale-wrap_sm {
  display: none;
}

.intro__body-sale-wrap::before {
  content: url("../img/back-intro.svg");
  display: block;
  position: absolute;
  top: 50px;
}

.intro__body-sale-wrap svg {
  margin-left: auto;
  display: block;
  margin-right: 18px;
}

.intro__body-sale-l {
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
}

.intro__nav {
  margin-left: 90px;
  min-width: 316px;
  margin-top: 20px;
}

.intro__list {
  list-style-type: none;
}

.intro__list-item {
  background-color: #2f2f2f;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 14px;
  margin-bottom: 16px;
  opacity: 0.3;
  -webkit-transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.intro__list-item:last-child {
  margin-bottom: 0;
}

.intro__list-item-link {
  padding: 20px 12px 12px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.intro__list-item-link-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 12px;
  background: #4b4b4b;
  border-radius: 100px;
}

.intro__list-item_blue .intro__list-item-link-svg {
  background-color: #496aff;
}

.intro__list-item_green .intro__list-item-link-svg {
  background-color: #00be71;
}

.intro__list-item_orange .intro__list-item-link-svg {
  background-color: #ff613e;
}

.intro__list-item_pink .intro__list-item-link-svg {
  background-color: #f32566;
}

.intro__list-item_yellow .intro__list-item-link-svg {
  background-color: #ff8521;
}

.intro__list-item_purple .intro__list-item-link-svg {
  background-color: #6b53fd;
}

.intro__list-item:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.intro__list-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
}

.intro__list-item-title_big {
  margin-bottom: 2px;
}

.intro__list-item-title_small {
  text-transform: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1100px) {
  .intro {
    margin-top: 20px;
  }
  .intro__nav {
    margin-left: 30px;
  }
  .intro__body-title {
    font-size: 48px;
  }
  .intro__list-item:hover {
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 1000px) {
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  .intro {
    position: relative;
  }
  .intro__body {
    margin: auto;
  }
  .intro__nav {
    margin-left: 0;
    margin-top: 0;
    display: none;
    width: 100%;
    height: 100vh;
  }
  .intro__nav::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(35, 35, 35, 0.5);
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  .intro__nav-active {
    display: block;
    position: absolute;
    right: 0;
    z-index: 2;
  }
  .intro__list {
    max-width: 320px;
    margin-left: auto;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .intro__list-item {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .intro__nav::before {
    background-color: #232323;
  }
  .intro__body-link {
    margin-top: 25px;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    padding-left: 3px 3px 3px 20px;
  }
  .intro__body-sale {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    width: 118px;
    height: 69px;
    padding-top: 80px;
    margin: 0;
    margin-left: 40px;
  }
  .intro__body-sale-l {
    font-size: 10px;
    line-height: 140%;
  }
  .intro__body-sale-wrap {
    display: none;
  }
  .intro__body-sale-wrap_sm {
    display: block;
    min-width: auto;
    width: 219.1px;
    height: 141.24px;
    margin-left: 0;
  }
  .intro__body-sale-wrap svg {
    width: 42px;
    height: 42px;
    position: absolute;
    margin: 0;
    right: 10px;
    top: 10px;
  }
  .intro__body-sale-wrap::before {
    content: url("../img/wrapper-back-sm.svg");
    top: 32px;
    left: 0px;
  }
  .intro__body-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    max-width: 100%;
    margin-bottom: 13px;
  }
  .intro__body-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 2px;
    max-width: 207px;
  }
}

@media screen and (max-width: 500px) {
  .intro__nav {
    padding-left: 0;
    max-width: 100%;
    right: auto;
    left: 0;
  }
  .intro__list {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
  .intro__list-item {
    width: 100%;
  }
  .intro__list-item-link {
    padding: 10px;
  }
}

.about {
  margin: auto;
  margin-top: 100px;
  max-width: 1160px;
}

.about-inner {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-card {
  background: #2f2f2f;
  border-radius: 20px;
  max-width: 565px;
  padding: 40px;
}

.about-card_blue {
  background: #3264ef;
  padding: 25px 30px 45px 30px;
}

.about-card_long {
  max-width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 30px;
}

.about-card__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 50px;
}

.about-card__subtitle-mark {
  background: #30b761;
  border-radius: 20px;
}

.about-card__subtitle-mark_blue {
  background: #3264ef;
}

.about-card__list {
  list-style-type: none;
  max-width: 682px;
}

.about-card__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 30px;
  padding-left: 48px;
  position: relative;
}

.about-card__list-item::before {
  content: "*";
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
  color: #5ac380;
  font-size: 44px;
}

.about-card__list-item_blue::before {
  color: #3264ef;
}

.about-card__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  margin: auto;
  margin-top: 30px;
  max-width: 412px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .about {
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-card {
    max-width: 48%;
  }
  .about-card_long {
    max-width: 100%;
  }
  .about-card__pic {
    width: 100%;
  }
  .about-card__pic-img {
    width: 100%;
  }
  .about-card__list-item {
    margin-left: 30px;
  }
  .about-card__list-item_blue {
    margin-left: 0;
  }
}

@media screen and (max-width: 820px) {
  .about-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 14px;
  }
  .about-card {
    max-width: 100%;
    margin-bottom: 10px;
    padding: 20px;
  }
  .about-card__text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }
  .about-card_long {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-card_blue {
    padding: 10px;
  }
  .about-card__list-item {
    margin-left: 0;
    font-size: 12px;
    line-height: 18px;
    padding-left: 25px;
    margin-bottom: 14px;
  }
  .about-card__list-item:last-child {
    margin-bottom: 0;
  }
  .about-card__list-item::before {
    font-size: 29px;
  }
  .about-card__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 14px;
  }
  .about-card__subtitle {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 17px;
  }
  .title-m {
    font-size: 10px;
  }
}

.advantages {
  max-width: 1160px;
  margin: auto;
}

.advantages-list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
      grid-template-areas: "a a" "b c" "b d";
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.advantages-list__item {
  background: #2f2f2f;
  border-radius: 20px;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.advantages-list__item_a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
}

.advantages-list__item_b {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: b;
}

.advantages-list__item_c {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
}

.advantages-list__item_d {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: d;
}

.advantages-list__item_width {
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-list__item_height {
  min-height: 723px;
}

.advantages-list__item_blue {
  background: #3264ef;
}

.advantages-list__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 565px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-list__item-num {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 60px;
  height: 60px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 39px;
  color: #ffffff;
}

.advantages-list__item-title {
  padding-left: 110px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 53px;
}

.advantages-list__item-title_mb {
  margin-bottom: 25px;
}

.advantages-list__item-text {
  padding-top: 14px;
  padding-left: 110px;
  border-top: 1px solid #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  padding-right: 14px;
}

.advantages-list__item-pic {
  min-width: 479px;
  background: #232323;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
}

.advantages-list__item-iphone {
  position: absolute;
  left: 0;
  bottom: -4px;
}

.advantages-list__item-iphone-img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .advantages-list {
    grid-gap: 10px;
  }
  .advantages-list__item {
    padding: 10px;
  }
  .advantages-list__item-num {
    left: 10px;
    top: 10px;
  }
  .advantages-list__item-pic {
    margin-left: 30px;
  }
  .advantages-list__item-title {
    padding-left: 80px;
  }
  .advantages-list__item-text {
    padding-left: 80px;
  }
}

@media screen and (max-width: 950px) {
  .advantages-list__item-inner {
    max-width: 40%;
  }
  .advantages-list__item-num {
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 22px;
  }
  .advantages-list__item-title {
    font-size: 16px;
    line-height: 21px;
    padding-left: 40px;
    margin-bottom: 10px;
    min-height: 30px;
  }
  .advantages-list__item-text {
    font-size: 12px;
    line-height: 17px;
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 0;
  }
  .advantages-list__item-pic {
    height: 300px;
    min-width: 50%;
  }
  .advantages-list__item-pic-img {
    height: 100%;
  }
  .advantages-list__item_height {
    min-height: 384px;
  }
  .advantages-list__item-iphone {
    max-width: 270px;
  }
}

@media screen and (max-width: 600px) {
  .advantages-list {
        grid-template-areas: "a" "b" "c" "d";
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .advantages-list__item-inner {
    max-width: 100%;
  }
  .advantages-list__item_a {
    display: block;
  }
  .advantages-list__item-num {
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 22px;
  }
  .advantages-list__item-title {
    font-size: 16px;
    line-height: 21px;
    padding-left: 40px;
    margin-bottom: 10px;
  }
  .advantages-list__item-text {
    font-size: 12px;
    line-height: 17px;
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 0;
  }
  .advantages-list__item-pic {
    min-width: auto;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 20px 0;
  }
  .advantages-list__item-pic-img {
    max-width: 156px;
  }
  .advantages-list__item_height {
    min-height: 384px;
  }
  .advantages-list__item-iphone {
    max-width: 270px;
  }
}

.start {
  max-width: 1160px;
  margin: auto;
}

.start-title-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-title-inner .title-l {
  max-width: 398px;
  margin-bottom: 0;
}

.start-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.start-card__list-item {
  width: 360px;
  margin-bottom: 40px;
  padding: 14px;
  background: #2f2f2f;
  border-radius: 20px;
}

.start-card__list-item-namber {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 27px;
}

.start-card__list-item-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 12px;
}

.for {
  max-width: 1160px;
  margin: auto;
  font-family: "Inter";
}

.for__card {
  display: block;
  max-width: 558px;
  height: 654px;
  border: 1px solid #00e287;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  padding: 30px;
}

.for__card_bliu {
  border: 1px solid #3264ef;
}

.for__card-body {
  position: absolute;
  left: 30px;
  top: -40px;
}

.for__card-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 40px;
}

.for__card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 10px;
}

.for__card-title_mt {
  margin-top: 30px;
}

.for__card-list {
  max-height: 300px;
}

.for-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-list {
  display: table;
}

.card-list__item {
  margin-top: 30px;
  list-style-position: inside;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.for-card__list-star {
  list-style: none;
}

.for-card__list-star-item {
  background: url("img/green star.png") no-repeat left center;
  padding-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
}

.for-card__list-star-item_bg {
  background: url("img/bliu star.png") no-repeat left center;
}

.cost {
  max-width: 1160px;
  margin: auto;
  font-family: "Inter";
  position: relative;
}

.cost__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.9);
}

.cost__pic {
  position: absolute;
  top: 15px;
  right: 0;
}

.cost-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.cost-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #2f2f2f;
  border-radius: 20px;
  width: 560px;
  height: 114px;
}

.cost-list__item-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3c3c3c;
  border-radius: 20px;
  width: 80px;
  height: 80px;
  margin: 17px;
}

.cost-list__item-inner {
  margin-left: 24px;
}

.cost-list__item-title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 21px;
}

.cost-list__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */