*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #232323;
}

.title-m {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 100px;
}

.title-l {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 50px;
}

@media screen and (max-width: 950px) {
  .title-m {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  .title-l {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 20px;
  }
}

.advantages {
  max-width: 1160px;
  margin: auto;
  font-family: "Inter";
}

.advantages-list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
      grid-template-areas: "a a" "b c" "b d";
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.advantages-list__item {
  background: #2f2f2f;
  border-radius: 20px;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.advantages-list__item_a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
}

.advantages-list__item_b {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: b;
}

.advantages-list__item_c {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
}

.advantages-list__item_d {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: d;
}

.advantages-list__item_width {
  max-width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-list__item_height {
  min-height: 723px;
}

.advantages-list__item_blue {
  background: #3264ef;
}

.advantages-list__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 565px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-list__item-num {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 60px;
  height: 60px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 39px;
  color: #ffffff;
}

.advantages-list__item-title {
  padding-left: 110px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 53px;
}

.advantages-list__item-title_mb {
  margin-bottom: 25px;
}

.advantages-list__item-text {
  padding-top: 14px;
  padding-left: 110px;
  border-top: 1px solid #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  padding-right: 14px;
}

.advantages-list__item-pic {
  min-width: 479px;
  background: #232323;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
}

.advantages-list__item-iphone {
  position: absolute;
  left: 0;
  bottom: -4px;
}

.advantages-list__item-iphone-img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .advantages {
    padding-left: 10px;
    padding-right: 10px;
  }
  .advantages-list {
    grid-gap: 10px;
  }
  .advantages-list__item {
    padding: 10px;
  }
  .advantages-list__item-num {
    left: 10px;
    top: 10px;
  }
  .advantages-list__item-pic {
    margin-left: 30px;
  }
  .advantages-list__item-title {
    padding-left: 80px;
  }
  .advantages-list__item-text {
    padding-left: 80px;
  }
}

@media screen and (max-width: 950px) {
  .advantages-list__item-inner {
    max-width: 40%;
  }
  .advantages-list__item-num {
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 22px;
  }
  .advantages-list__item-title {
    font-size: 16px;
    line-height: 21px;
    padding-left: 40px;
    margin-bottom: 10px;
    min-height: 30px;
  }
  .advantages-list__item-text {
    font-size: 12px;
    line-height: 17px;
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 0;
  }
  .advantages-list__item-pic {
    height: 300px;
    min-width: 50%;
  }
  .advantages-list__item-pic-img {
    height: 100%;
  }
  .advantages-list__item_height {
    min-height: 384px;
  }
  .advantages-list__item-iphone {
    max-width: 270px;
  }
}

@media screen and (max-width: 600px) {
  .advantages-list {
        grid-template-areas: "a" "b" "c" "d";
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .advantages-list__item-inner {
    max-width: 100%;
  }
  .advantages-list__item_a {
    display: block;
  }
  .advantages-list__item-num {
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 22px;
  }
  .advantages-list__item-title {
    font-size: 16px;
    line-height: 21px;
    padding-left: 40px;
    margin-bottom: 10px;
  }
  .advantages-list__item-text {
    font-size: 12px;
    line-height: 17px;
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 0;
  }
  .advantages-list__item-pic {
    min-width: auto;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 20px 0;
  }
  .advantages-list__item-pic-img {
    max-width: 156px;
  }
  .advantages-list__item_height {
    min-height: 384px;
  }
  .advantages-list__item-iphone {
    max-width: 270px;
  }
}

.for {
  max-width: 1160px;
  margin: auto;
  font-family: "Inter";
}

.for__card {
  display: block;
  max-width: 558px;
  height: 654px;
  border: 1px solid #00e287;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  padding: 30px;
}

.for__card_bliu {
  border: 1px solid #3264ef;
}

.for__card-body {
  position: absolute;
  left: 30px;
  top: -40px;
}

.for__card-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 40px;
}

.for__card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 10px;
}

.for__card-title_mt {
  margin-top: 30px;
}

.for__card-list {
  max-height: 300px;
}

.for-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-list {
  display: table;
}

.card-list__item {
  margin-top: 30px;
  list-style-position: inside;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.for-card__list-star {
  list-style: none;
}

.for-card__list-star-item {
  background: url("img/green star.png") no-repeat left center;
  padding-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
}

.for-card__list-star-item_bg {
  background: url("img/bliu star.png") no-repeat left center;
}

.cost {
  max-width: 1160px;
  margin: auto;
  font-family: "Inter";
  position: relative;
}

.cost__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.9);
}

.cost__pic {
  position: absolute;
  top: 15px;
  right: 0;
}

.cost-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.cost-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #2f2f2f;
  border-radius: 20px;
  width: 560px;
  height: 114px;
}

.cost-list__item-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3c3c3c;
  border-radius: 20px;
  width: 80px;
  height: 80px;
  margin: 17px;
}

.cost-list__item-inner {
  margin-left: 24px;
}

.cost-list__item-title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 21px;
}

.cost-list__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */