*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #232323;
}
.title-m {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
    margin-top: 100px;
}
.title-l {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
    margin-bottom: 50px;
}
@media screen and (max-width: 950px) {
    .title-m {
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    .title-l {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 20px;
    }
}
@import "_advantages.scss";
@import "_for.scss";
@import "_cost.scss";
